.App {
  text-align: center;
}
.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  font-size: 26px;
  text-align: center;
}
.subtitle {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: bold;
}
.input-form {
  max-width: 320px;
  padding: 8px;
}
.input-item {
  margin: 16px 0 32px 0
}
.input-label {
  font-size: 16px;
  margin-bottom: 6px;
}
.btn {
  width: 320px;
}
.results-card {
  background-color: hsl(220, 13%, 23%);
  margin: 8px 2px;
  padding: 8px;
  box-shadow: "4px 4px 0px 0px hsl(0, 0%, 90%)";
  border: 0 none;
  border-radius: 8px;
}